#dex{
    overflow: scroll;
    height: 310px;
    width:310px;
    text-align: center;
}

.pokemon:hover{
    color:blue;
}

input{
    width:100px;
}

body{
    background-color: lightgray;
}